@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Root values Decleation */
:root {
  --primary-red: #f31313;
  --bg-black: #1f1f1f;
  --gry: #575757;
  --text-gry: #999999;
}

/* Root values Decleation End*/

/* Tags Css Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-black);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: var(--text-gry);
  background: #1f1f1f;
  line-height: 1.7;
  overflow-x: hidden;
  height: 100vh;
}
img {
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: white;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
ul {
  list-style-type: none;
}
section:not(#home) {
  padding-top: 90px;
  padding-bottom: 90px;
}
ul {
  list-style-type: none;
}
label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2px;
}
label sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  color: #fc4545;
  font-size: 12px;
  top: 0;
}
input,
select,
textarea {
  display: block;
  color: white;
  width: 100%;
  border: none;
  background: none;
  font-size: 18px;
  padding: 0;
  transition: 0.2s;
  padding-bottom: 3px;
  margin: 0;
  line-height: 2;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #555555;
}
footer {
  text-align: center;
  height: 30px;
}
/* Tags Css End */

/* Classes Css Start  */

.left-sidebar {
  max-width: 485px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--gry);
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.left-sidebar .sidebar-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
}
.left-sidebar .sidebar-heading .designation {
  max-width: 110px;
  text-align: right;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.left-sidebar > img.me {
  border-radius: 30px;
  display: block;
  margin-bottom: 56px;
}
.left-sidebar h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.left-sidebar h2:last-child {
  margin-bottom: 30px;
}
.copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 45px;
  padding: 0 !important;
}
.social-profile {
  gap: 8px;
  margin-bottom: 118px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.social-profile li a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  border: 2px solid var(--gry);
  border-radius: 50%;
  color: var(--text-gry);
  font-size: 20px;
  transition: 0.3s;
}
.left-sidebar .btn {
  width: 100%;
}
.btn {
  background-color: var(--primary-red);
  color: white;
  display: flex;
  text-align: center;
  padding: 11px 58px 10px 58px;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  text-transform: uppercase;
  border: 2px solid var(--primary-red);
  cursor: pointer;
  transition: 0.3s;
}
.btn i {
  font-size: 24px;
  margin-right: 10px;
  display: block;
  margin-bottom: 3px;
}
.btn:hover {
  background: none;
  color: var(--primary-red);
}
.vertical-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gry);
  border-radius: 30px;
  position: fixed;
  right: 68px;
  top: 322px;
  width: 55px;
  text-align: center;
  gap: 20px;
  padding: 24px 0;
  background-color: var(--bg-black);
  z-index: 20;
}
.vertical-menu li a.active,
.vertical-menu li a:hover {
  color: var(--primary-red);
}
.vertical-menu li a {
  display: block;
  position: relative;
  width: 55px;
  transition: 0.3s;
  color: var(--text-gry);
  cursor: pointer;
}
.vertical-menu li a span {
  position: absolute;
  transition: 0.3s;
  font-size: 12px;
  background: #404042;
  right: 100%;
  color: white;
  display: block;
  padding: 3px 8px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
}
.vertical-menu li a span::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #404042;
  position: absolute;
  right: -3px;
  top: 50%;
  transform: rotate(54deg) skew(-8deg, -39deg);
  margin-top: -5px;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.vertical-menu li a:hover span {
  visibility: visible;
  opacity: 1;
}
.vertical-menu li a:hover span::before {
  visibility: visible;
  opacity: 1;
}
#home {
  padding: 68px 0;
  position: relative;
  overflow: hidden;
}
.container-wrapper {
  max-width: 1130px;
  padding: 0 15px;
  margin: auto;
}
.container {
  max-width: 770px;
  width: 100%;
  margin-left: auto;
}
#home .container {
  position: relative;
  z-index: 3;
}
.section-head h4 {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 53px;
  display: inline-flex;
  align-items: center;
}
.section-head h4 i {
  font-size: 14px;
  margin-right: 10px;
}
.section-head {
  color: white;
}
.section-head h1 {
  font-size: 78px;
  letter-spacing: -0.2px;
  line-height: 90px;
  margin-bottom: 43px;
  font-weight: 300;
}
.section-head h1 span,
.section-head h2 span {
  color: var(--primary-red);
}
#home .container p {
  max-width: 480px;
  margin-bottom: 31px;
}
#home .container a {
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid #575757;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}
#home .container a img {
  display: block;
  animation: rotating 6s infinite linear;
}
#home .container a i {
  position: absolute;
  color: white;
  font-size: 30px;
  display: block;
}
#home .why-me {
  display: flex;
  gap: 100px;
  margin-top: 55px;
}
#home .why-me h3 {
  font-size: 72px;
  color: var(--primary-red);
  line-height: 56px;
  margin-bottom: 38px;
  letter-spacing: -0.2px;
  font-weight: 300;
}
#home .why-me p {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
.section-head h2 {
  font-size: 48px;
  line-height: 60px;
  color: white;
  font-weight: 300;
  margin-bottom: 33px;
}
#about .container p {
  line-height: 30px;
  max-width: 610px;
}
.resume-timeline .timeline-block {
  position: relative;
  padding-left: 74px;
  padding-bottom: 60px;
}
.resume-timeline .timeline-block::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #656565;
  border-radius: 50%;
  left: -6px;
  top: 7px;
  transition: 0.3s;
}
.resume-timeline .timeline-block::after {
  content: "";
  background: #333333;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -1;
}
.resume-timeline .timeline-block:hover .date {
  color: var(--primary-red);
}
.resume-timeline .timeline-block .date {
  display: block;
  margin-bottom: 28px;
  transition: 0.3s;
}
.resume-timeline .timeline-block h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 3px;
  color: white;
}
.resume-timeline .timeline-block p:not(.date) {
  font-size: 13px;
  color: #999999;
  margin-bottom: 18px;
}
.service-stack .service-item {
  border: 1px solid #565656;
  border-radius: 20px;
  transition: 0.3s;
  position: relative;
  padding: 44px 48px 41px 48px;
  margin-bottom: 10px;
}
.service-stack .service-item:hover {
  border-color: var(--primary-red);
}
.service-stack .service-item i {
  position: absolute;
  font-size: 30px;
  color: var(--primary-red);
  top: 45px;
  right: 50px;
}
.service-stack .service-item h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 8px;
  color: #fff;
}
.service-stack .service-item p {
  font-size: 14px;
  color: #999999;
  margin-bottom: 30px;
}
.service-stack .service-item .project {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
.service-stack .service-item:hover .project {
  text-decoration: underline;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.row .col-24 {
  max-width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 50px;
}
.skill {
  border: 2px solid #565656;
  border-radius: 10px;
  padding: 54px 0 48px 0;
  transition: 0.3s;
  text-align: center;
  min-height: 100%;
}
.skill:hover {
  border-color: var(--primary-red);
}
.skill img {
  display: block;
  margin: auto auto 29px auto;
}
.portfolio-item {
  margin-bottom: 62px;
  padding-left: 12px;
  padding-right: 12px;
}
.portfolio-item .portfolio-img {
  height: 410px;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  margin-bottom: 30px;
}
.portfolio-item .portfolio-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-item .catagories {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  bottom: 20px;
  left: 20px;
}
.portfolio-item .catagories li a {
  display: block;
  font-size: 14px;
  background: white;
  color: black;
  padding: 7px 20px;
  border-radius: 19px;
  transition: 0.3s;
}
.portfolio-item:hover .catagories li a {
  background-color: #1f1f1f;
  color: white;
}
.portfolio-item h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
.portfolio-item h3 a {
  color: white;
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.portfolio-item:hover h3 a {
  border-color: white;
}
#contact .container h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 60px;
}
#contact .container #required {
  color: #fc4545;
  font-size: 14px;
  margin-bottom: 31px;
  display: none;
}
.input-group {
  margin-bottom: 34px;
  width: 100%;
}
.menu {
  position: absolute;
  right: 68px;
  top: 60px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  background: #1f1f1f;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575757;
}
.menu:hover {
  border-color: var(--primary-red);
}
.menu:hover i {
  color: var(--primary-red);
}
.menu i {
  color: white;
  font-size: 21px;
  transition: 0.3s;
}
.responsive-sidebar-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.responsive-sidebar-menu.active {
  opacity: 1;
  visibility: visible;
}
.responsive-sidebar-menu .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #565656;
  opacity: 0.5;
}
.responsive-sidebar-menu.active .sidebar {
  margin-right: 0;
}
.responsive-sidebar-menu .sidebar {
  max-width: 345px;
  width: 100%;
  margin-left: auto !important;
  background: #191919;
  height: 100%;
  overflow-x: hidden;
  padding-top: 50px;
  margin-left: 250px;
  transition: 0.3s;
}
.responsive-sidebar-menu .sidebar .menu-wrap,
.responsive-sidebar-menu .sidebar .sidebar-social {
  width: 46%;
  margin: auto;
}
.responsive-sidebar-menu .sidebar p {
  font-size: 18px;
  margin-bottom: 1rem;
}
.responsive-sidebar-menu .sidebar .menu-wrap .vertical-menu {
  position: relative;
  right: auto;
  left: 0;
  top: 0;
  transform: translateY(0);
  background: none;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
}
.responsive-sidebar-menu .sidebar .menu-wrap .vertical-menu li a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.responsive-sidebar-menu .sidebar .menu-wrap .vertical-menu li a i {
  margin-bottom: 2px;
}
.responsive-sidebar-menu .sidebar .menu-wrap .vertical-menu li a.active span {
  color: white;
}
.responsive-sidebar-menu .sidebar .menu-wrap .vertical-menu li a span {
  position: relative;
  right: 0;
  opacity: 1;
  visibility: visible;
  color: #999999;
  background: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.responsive-sidebar-menu
  .sidebar
  .menu-wrap
  .vertical-menu
  li
  a:hover
  span::before {
  opacity: 0;
  visibility: hidden;
}
.responsive-sidebar-menu .sidebar .sidebar-social .social-profile {
  gap: 30px;
  margin-bottom: 0;
  justify-content: start;
}
.responsive-sidebar-menu .sidebar .sidebar-social .social-profile li a {
  color: #999999;
  transition: 0.3s;
  font-size: 16px;
  border: none;
  width: auto;
  height: auto;
}
.responsive-sidebar-menu .sidebar .sidebar-social .social-profile li a:hover {
  color: var(--primary-red);
}
/* Classes Css End */

/* key frames start */
@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* key frames end */
/* media max-width 2000px Query Start*/
@media (max-width: 2000px) {
  .left-sidebar {
    max-width: 400px;
  }
  .left-sidebar .sidebar-heading {
    margin-bottom: 30px;
  }
  .left-sidebar .copyright {
    margin-bottom: 25px;
  }
  .left-sidebar .social-profile {
    margin-bottom: 30px;
  }
  .vertical-menu {
    top: 50%;
    transform: translateY(-50%);
  }
}
/* media max-width 2000px Query End*/

/* media max-width 1555px Query Start*/
@media (max-width: 1555px) {
  .left-sidebar > img.me {
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
  }
  .left-sidebar {
    max-width: 350px;
    padding: 30px;
  }
}
/* media max-width 1555px Query End*/

/* media max-width 1220px Query Start*/

@media (max-width: 1220px) {
  .left-sidebar {
    position: relative;
    max-width: 767px;
    left: 0;
    margin: auto;
    top: 0;
    transform: translateY(0);
    margin-top: 100px;
  }
  .container-wrapper {
    max-width: 767px;
  }
  .container {
    max-width: 100%;
  }
  .vertical-menu {
    display: none;
  }
  .menu {
    position: fixed;
  }
  .responsive-sidebar-menu .sidebar .menu-wrap .vertical-menu {
    display: flex;
  }
}

/* media max-width 1220px Query End*/

/* media min-width 768px Query Start*/

@media (min-width: 768px) {
  .col-24 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-100 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-50 {
    flex: 0 0 auto;
    width: 50%;
  }
}
/* media min-width 768px Query End*/

/* media min-width 768px Query Start*/

@media (max-width: 768px) {
  .menu {
    right: 30px;
    top: 30px;
  }
  .section-head h1 {
    font-size: 58px;
  }
}
/* media min-width 768px Query End*/
