@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Root values Decleation */
:root {
  --primary-red: #f31313;
  --bg-black: #1f1f1f;
  --gry: #575757;
  --text-gry: #999999;
}

/* Root values Decleation End*/

/* Tags Css Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-black);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: var(--text-gry);
  background: #1f1f1f;
  line-height: 1.7;
  overflow-x: hidden;
  height: 100vh;
}
img {
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: white;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
ul {
  list-style-type: none;
}
/* Tags Css End */

/* Classes Css Start  */

.left-sidebar {
  max-width: 485px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--gry);
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.left-sidebar .sidebar-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
}
.left-sidebar .sidebar-heading .designation {
  max-width: 110px;
  text-align: right;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.left-sidebar > img.me {
  border-radius: 30px;
  display: block;
  margin-bottom: 56px;
}
.left-sidebar h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.left-sidebar h2:last-child {
  margin-bottom: 30px;
}
.left-sidebar .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 45px;
  padding: 0 !important;
}
.left-sidebar .social-profile {
  gap: 8px;
  margin-bottom: 118px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.left-sidebar .social-profile li a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  border: 2px solid var(--gry);
  border-radius: 50%;
  color: var(--text-gry);
  font-size: 20px;
  transition: 0.3s;
}
.left-sidebar .btn {
  width: 100%;
}
.btn {
  background-color: var(--primary-red);
  color: white;
  display: flex;
  text-align: center;
  padding: 11px 58px 10px 58px;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  text-transform: uppercase;
  border: 2px solid var(--primary-red);
  cursor: pointer;
  transition: 0.3s;
}
.btn i {
  font-size: 24px;
  margin-right: 10px;
  display: block;
  margin-bottom: 3px;
}
.btn:hover {
  background: none;
  color: var(--primary-red);
}
.vertical-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gry);
  border-radius: 30px;
  position: fixed;
  right: 68px;
  top: 322px;
  width: 55px;
  text-align: center;
  gap: 20px;
  padding: 24px 0;
  background-color: var(--bg-black);
  z-index: 20;
}
.vertical-menu li a.active,
.vertical-menu li a:hover {
  color: var(--primary-red);
}
.vertical-menu li a {
  display: block;
  position: relative;
  width: 55px;
  transition: 0.3s;
  color: var(--text-gry);
  cursor: pointer;
}
.vertical-menu li a span {
  position: absolute;
  transition: 0.3s;
  font-size: 12px;
  background: #404042;
  right: 100%;
  color: white;
  display: block;
  padding: 3px 8px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
}
.vertical-menu li a span::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #404042;
  position: absolute;
  right: -3px;
  top: 50%;
  transform: rotate(54deg) skew(-8deg, -39deg);
  margin-top: -5px;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.vertical-menu li a:hover span {
  visibility: visible;
  opacity: 1;
}
.vertical-menu li a:hover span::before {
  visibility: visible;
  opacity: 1;
}
.banner {
  padding: 68px 0;
  position: relative;
  overflow: hidden;
}
.container-wrapper {
  max-width: 1130px;
  padding: 0 15px;
  margin: auto;
}
.container {
  max-width: 770px;
  width: 100%;
  margin-left: auto;
}
.banner .container {
  position: relative;
  z-index: 3;
}
.section-head h4 {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 53px;
  display: inline-flex;
  align-items: center;
}
.section-head h4 i {
  font-size: 14px;
  margin-right: 10px;
}
.section-head {
  color: white;
}
.section-head h1 {
  font-size: 78px;
  letter-spacing: -0.2px;
  line-height: 90px;
  margin-bottom: 43px;
  font-weight: 300;
}
.section-head h1 span {
  color: var(--primary-red);
}
.banner .container p {
  max-width: 480px;
  margin-bottom: 31px;
}
.banner .container a {
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid #575757;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}
.banner .container a img {
  display: block;
  animation: rotating 6s infinite linear;
}
.banner .container a i {
  position: absolute;
  color: white;
  font-size: 30px;
  display: block;
}
.banner .why-me {
  display: flex;
  gap: 100px;
  margin-top: 55px;
}
.banner .why-me h3 {
  font-size: 72px;
  color: var(--primary-red);
  line-height: 56px;
  margin-bottom: 38px;
  letter-spacing: -0.2px;
  font-weight: 300;
}
.banner .why-me p {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
/* Classes Css End */

/* key frames start */
@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* key frames end */
/* media max-width 2000px Query Start*/
@media (max-width: 2000px) {
  .left-sidebar {
    max-width: 400px;
  }
  .left-sidebar .sidebar-heading {
    margin-bottom: 30px;
  }
  .left-sidebar .copyright {
    margin-bottom: 25px;
  }
  .left-sidebar .social-profile {
    margin-bottom: 30px;
  }
  .vertical-menu {
    top: 50%;
    transform: translateY(-50%);
  }
}
/* media max-width 2000px Query End*/

/* media max-width 1555px Query Start*/
@media (max-width: 1555px) {
  .left-sidebar > img.me {
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
  }
  .left-sidebar {
    max-width: 350px;
    padding: 30px;
  }
}
/* media max-width 1555px Query End*/

/* media max-width 1200px Query Start*/

@media (min-width: 1200px) {
}

/* media max-width 1200px Query End*/
